
    <!-- 右 -->
    <div class="content">
        <div class="header">
            <h1 class="page-title">分派权限</h1>
        </div>

        <div class="well">
        正在给【{$data.role_name}】分派权限
        <form action="{:url('updateauth')}" method="post">
            <!-- table -->
            <input type="hidden" name='role_id' value='{$data.id}'>
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>权限分类</th>
                        <th>权限</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $auth_one as $one}
                        <tr class="success">
                            <td><input type="checkbox" class='one' name="id[]" value="{$one.id}" {in name='one.id' value="$data.role_auth_ids"}checked="checked"{/in}">{$one.auth_name}</td>
                            <td>
                                {foreach $auth_two as $two}
                                    {if $two.pid==$one.id}
                                <input type="checkbox" name="id[]" class='two' value="{$two.id}" {in name='two.id' value="$data.role_auth_ids"}checked="checked"{/in}>{$two.auth_name}
                                    {/if}
                                {/foreach}
                            </td>
                        </tr>
                    {/foreach}
                </tbody>
            </table>
            <button class="btn btn-primary" type="submit">保存</button>
        </form>
        </div>
        <!-- footer -->
        <footer>
            <hr>
            <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
        </footer>
    </div>
    <script>
        $(function(){
            $('.one').change(function(){
                var status=$(this).prop('checked');
                if(!status){
                    $(this).closest('tr').find('.two').prop('checked',status);
                }else{
                    var num=$(this).closest('tr').find('.two:checked').length;
                    if(num==0){
                        $(this).prop('checked',false);
                        alert('请先勾选权限');
                    }
                }
            });
            $('.two').change(function(){
                var num=$(this).closest('td').find('.two:checked').length;
                if(num>0){
                    $(this).closest('tr').find('.one').prop('checked',true);
                }else{
                    $(this).closest('tr').find('.one').prop('checked',false);
                }
            });
        });
    </script>
